USE [AssetManager]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Allocations]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StrategyId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[AccountId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Allocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
	[PortfolioId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvestmentAccounts]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvestmentAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[PortfolioId] [nvarchar](128) NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[WebUrl] [nvarchar](max) NULL,
	[Currency] [int] NOT NULL DEFAULT ((0)),
	[UserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.InvestmentAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Portfolios]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolios](
	[PortfolioId] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[TotalReturn] [decimal](18, 2) NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.Portfolios] PRIMARY KEY CLUSTERED 
(
	[PortfolioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Positions]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[StockName] [nvarchar](max) NULL,
	[Symbol] [nvarchar](max) NULL,
	[HoldingAmount] [int] NOT NULL,
	[SellableAmount] [int] NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[CurrentPrice] [decimal](18, 2) NOT NULL,
	[FundNumber] [nvarchar](max) NULL,
	[AccountId] [int] NULL,
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[StrategyId] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Weight] [decimal](18, 2) NULL DEFAULT ((0)),
	[UserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Positions] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Strategies]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strategies](
	[StrategyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Source] [int] NOT NULL,
	[RequireLogin] [bit] NULL,
	[LoginUserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[InitialBalance] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[TotalReturn] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[ExpectedAnnualReturn] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[RebalancePeriod] [int] NOT NULL DEFAULT ((0)),
	[MaxDrawDown] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[StockHolding] [int] NOT NULL DEFAULT ((0)),
	[BacktestStart] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
	[BacktestEnd] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
	[Type] [nvarchar](max) NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Strategies] PRIMARY KEY CLUSTERED 
(
	[StrategyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trades]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Symbol] [nvarchar](max) NULL,
	[StockName] [nvarchar](max) NULL,
	[EntryTime] [datetime] NOT NULL,
	[EntryPrice] [decimal](18, 2) NOT NULL,
	[Direction] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ExitTime] [datetime] NOT NULL,
	[ExitPrice] [decimal](18, 2) NOT NULL,
	[ProfitLoss] [decimal](18, 2) NOT NULL,
	[TotalFees] [decimal](18, 2) NOT NULL,
	[MAE] [decimal](18, 2) NOT NULL,
	[MFE] [decimal](18, 2) NOT NULL,
	[Strategy_StrategyId] [int] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Trades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WatchLists]    Script Date: 9/2/2017 11:56:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchLists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StockName] [nvarchar](max) NULL,
	[Symbol] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[AccountId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UserId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.WatchLists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Allocations] ON 

GO
INSERT [dbo].[Allocations] ([Id], [StrategyId], [Amount], [AccountId]) VALUES (1, 1, CAST(2000.00 AS Decimal(18, 2)), 1)
GO
INSERT [dbo].[Allocations] ([Id], [StrategyId], [Amount], [AccountId]) VALUES (2, 3, CAST(55000.00 AS Decimal(18, 2)), 3)
GO
SET IDENTITY_INSERT [dbo].[Allocations] OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name], [DateCreated], [PortfolioId]) VALUES (N'7376c98f-916f-4ad5-b90e-43df85af2ad4', N'232233632@163.com', 0, N'AE1W7GFiO17b/p/1OCM8Ap/7+U7YK/NhYgHr6fCPZyjAo4842E1stXtGXJOIsz/5Fg==', N'c9df2bd9-7bf2-4292-903c-a75ce2ab715e', NULL, 0, 0, NULL, 1, 0, N'232233632@163.com', N'Yan Zhang', CAST(N'2017-08-25 21:15:20.023' AS DateTime), N'b35a52b6-9d16-45eb-b303-970b7c2bdf02')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name], [DateCreated], [PortfolioId]) VALUES (N'c7126f89-d734-48a7-82e0-293da73a0b8c', N'zhangyan612@gmail.com', 0, N'AIHwPnaPXaxfRhapv9i+3+S71KATrTjdOTZajLFkTAUnP1Mh4V8KaPcaiqtHSGdl/Q==', N'34bfb651-d357-4028-b3b4-41434a67d9cf', NULL, 0, 0, NULL, 1, 0, N'zhangyan612@gmail.com', NULL, CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'd52343ce-7c5e-421a-8001-7af21bec2572')
GO
SET IDENTITY_INSERT [dbo].[InvestmentAccounts] ON 

GO
INSERT [dbo].[InvestmentAccounts] ([Id], [AccountName], [Type], [UserName], [Password], [PortfolioId], [Balance], [WebUrl], [Currency], [UserId]) VALUES (1, N'工商行账户', 1, NULL, NULL, N'd52343ce-7c5e-421a-8001-7af21bec2572', CAST(5000.00 AS Decimal(18, 2)), NULL, 2, N'c7126f89-d734-48a7-82e0-293da73a0b8c')
GO
INSERT [dbo].[InvestmentAccounts] ([Id], [AccountName], [Type], [UserName], [Password], [PortfolioId], [Balance], [WebUrl], [Currency], [UserId]) VALUES (2, N'Chase Bank', 1, NULL, NULL, N'd52343ce-7c5e-421a-8001-7af21bec2572', CAST(50000.00 AS Decimal(18, 2)), NULL, 0, N'c7126f89-d734-48a7-82e0-293da73a0b8c')
GO
INSERT [dbo].[InvestmentAccounts] ([Id], [AccountName], [Type], [UserName], [Password], [PortfolioId], [Balance], [WebUrl], [Currency], [UserId]) VALUES (3, N'平安证券', 0, NULL, NULL, N'd52343ce-7c5e-421a-8001-7af21bec2572', CAST(59298.00 AS Decimal(18, 2)), NULL, 2, N'c7126f89-d734-48a7-82e0-293da73a0b8c')
GO
SET IDENTITY_INSERT [dbo].[InvestmentAccounts] OFF
GO
INSERT [dbo].[Portfolios] ([PortfolioId], [UserId], [TotalReturn], [Name], [CreatedDate]) VALUES (N'b35a52b6-9d16-45eb-b303-970b7c2bdf02', N'7376c98f-916f-4ad5-b90e-43df85af2ad4', NULL, N'My Portfolio', CAST(N'2017-08-31 23:15:52.590' AS DateTime))
GO
INSERT [dbo].[Portfolios] ([PortfolioId], [UserId], [TotalReturn], [Name], [CreatedDate]) VALUES (N'd52343ce-7c5e-421a-8001-7af21bec2572', N'c7126f89-d734-48a7-82e0-293da73a0b8c', NULL, N'My Portfolio', CAST(N'2017-08-26 19:42:16.200' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

GO
INSERT [dbo].[Positions] ([StockName], [Symbol], [HoldingAmount], [SellableAmount], [CostPrice], [CurrentPrice], [FundNumber], [AccountId], [PositionId], [StrategyId], [Description], [Weight], [UserId]) VALUES (N'伟隆股份', N'002871', 100, 100, CAST(38.34 AS Decimal(18, 2)), CAST(38.80 AS Decimal(18, 2)), NULL, 4, 1, 2, NULL, CAST(0.00 AS Decimal(18, 2)), N'c7126f89-d734-48a7-82e0-293da73a0b8c')
GO
INSERT [dbo].[Positions] ([StockName], [Symbol], [HoldingAmount], [SellableAmount], [CostPrice], [CurrentPrice], [FundNumber], [AccountId], [PositionId], [StrategyId], [Description], [Weight], [UserId]) VALUES (N'吉林敖东', N'000623', 200, 200, CAST(22.59 AS Decimal(18, 2)), CAST(23.22 AS Decimal(18, 2)), NULL, 3, 2, NULL, NULL, CAST(0.00 AS Decimal(18, 2)), N'c7126f89-d734-48a7-82e0-293da73a0b8c')
GO
INSERT [dbo].[Positions] ([StockName], [Symbol], [HoldingAmount], [SellableAmount], [CostPrice], [CurrentPrice], [FundNumber], [AccountId], [PositionId], [StrategyId], [Description], [Weight], [UserId]) VALUES (N'渤海金控', N'000415', 100, 100, CAST(7.44 AS Decimal(18, 2)), CAST(6.94 AS Decimal(18, 2)), NULL, 3, 3, NULL, NULL, CAST(0.00 AS Decimal(18, 2)), N'c7126f89-d734-48a7-82e0-293da73a0b8c')
GO
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[Strategies] ON 

GO
SET IDENTITY_INSERT [dbo].[Strategies] OFF
GO
SET IDENTITY_INSERT [dbo].[WatchLists] ON 

GO
INSERT [dbo].[WatchLists] ([Id], [StockName], [Symbol], [Description], [AccountId], [CreatedDate], [UserId]) VALUES (2, N'沱牌舍得', N'600702', N'天风推荐', 3, CAST(N'2017-08-28 22:49:54.000' AS DateTime), N'c7126f89-d734-48a7-82e0-293da73a0b8c')
GO
INSERT [dbo].[WatchLists] ([Id], [StockName], [Symbol], [Description], [AccountId], [CreatedDate], [UserId]) VALUES (3, N'国投电力', N'600886', N'低市净率 近几周股价盘整', 4, CAST(N'2017-08-29 02:10:11.000' AS DateTime), N'c7126f89-d734-48a7-82e0-293da73a0b8c')
GO
SET IDENTITY_INSERT [dbo].[WatchLists] OFF
GO
ALTER TABLE [dbo].[Allocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Allocations_dbo.InvestmentAccounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[InvestmentAccounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Allocations] CHECK CONSTRAINT [FK_dbo.Allocations_dbo.InvestmentAccounts_AccountId]
GO
ALTER TABLE [dbo].[Allocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Allocations_dbo.Strategies_StrategyId] FOREIGN KEY([StrategyId])
REFERENCES [dbo].[Strategies] ([StrategyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Allocations] CHECK CONSTRAINT [FK_dbo.Allocations_dbo.Strategies_StrategyId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[InvestmentAccounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvestmentAccounts_dbo.Portfolios_Portfolio_PortfolioId] FOREIGN KEY([PortfolioId])
REFERENCES [dbo].[Portfolios] ([PortfolioId])
GO
ALTER TABLE [dbo].[InvestmentAccounts] CHECK CONSTRAINT [FK_dbo.InvestmentAccounts_dbo.Portfolios_Portfolio_PortfolioId]
GO
ALTER TABLE [dbo].[Positions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Positions_dbo.InvestmentAccounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[InvestmentAccounts] ([Id])
GO
ALTER TABLE [dbo].[Positions] CHECK CONSTRAINT [FK_dbo.Positions_dbo.InvestmentAccounts_AccountId]
GO
ALTER TABLE [dbo].[Positions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Positions_dbo.InvestmentAccounts_InvestmentAccount_Id] FOREIGN KEY([AccountId])
REFERENCES [dbo].[InvestmentAccounts] ([Id])
GO
ALTER TABLE [dbo].[Positions] CHECK CONSTRAINT [FK_dbo.Positions_dbo.InvestmentAccounts_InvestmentAccount_Id]
GO
ALTER TABLE [dbo].[Positions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Positions_dbo.Strategies_StrategyId] FOREIGN KEY([StrategyId])
REFERENCES [dbo].[Strategies] ([StrategyId])
GO
ALTER TABLE [dbo].[Positions] CHECK CONSTRAINT [FK_dbo.Positions_dbo.Strategies_StrategyId]
GO
ALTER TABLE [dbo].[Strategies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Strategies_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Strategies] CHECK CONSTRAINT [FK_dbo.Strategies_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Trades]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Trades_dbo.Strategies_Strategy_StrategyId] FOREIGN KEY([Strategy_StrategyId])
REFERENCES [dbo].[Strategies] ([StrategyId])
GO
ALTER TABLE [dbo].[Trades] CHECK CONSTRAINT [FK_dbo.Trades_dbo.Strategies_Strategy_StrategyId]
GO
ALTER TABLE [dbo].[WatchLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WatchLists_dbo.InvestmentAccounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[InvestmentAccounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WatchLists] CHECK CONSTRAINT [FK_dbo.WatchLists_dbo.InvestmentAccounts_AccountId]
GO
